/********* Steel **********/

.form-submit-button-steel{

    cursor: pointer;
    
    -moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    border-radius:.5em;

    padding:6px 18px;

    color: #808080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    text-shadow:0px 1px 0px #ffffff;

    border:1px solid #999999 !important;

    -moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.70), 0 2px 4px 0 rgba(0, 0, 0, 0.40);
    -webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.70), 0 2px 4px 0 rgba(0, 0, 0, 0.40);
    box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.70), 0 2px 4px 0 rgba(0, 0, 0, 0.40);

    background: #d4d4d4;
    background-position: 50% 50%;
    background-image: url('/images/steel.png');
}

.form-submit-button-steel:hover{

    color: #555555 !important;
    border:1px solid #999999 !important;
    background: #d4d4d4;
    background-position: 50% 50%;
    background-image: url('/images/steel.png');
}

.form-submit-button-steel:active{
	
	color: #555555 !important;
	border:1px solid #999999 !important;
    position: relative;
    top: 1px;
    
    -moz-box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.34);
    -webkit-box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.34);
    box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.34);
}
