.container2{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background: rgba(192, 192, 192,0.6);
	height: 30%;
}

body{
	color: #000;
	font: 1em/1.65em  Helvetica, Verdana, sans-serif;
}
input{
	padding:10px;
}
.navbar-brand{
	padding-top: 2px;
	padding-bottom: 0px;
}
.navbar-brand p{
	padding-top: 10px;
}

hr.style18 { 
  height: 10px; 
  border-style: solid; 
  border-color: #ffffff; 
  border-width: 3px 0 0 0; 
} 

hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #ffffff; 
  border-width: 0 0 3px 0; 
   
}

.harta{
	border-radius: 30px;
	width: 60px;
	height: 60px;
	padding-top: 0px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-left: 0px;

}

.tick{
	width: 25px;
	height: 25px;
}

.img{
	width: 20px;
	height: 30px;
	border-radius: 25px;
}

.textformat{
	color: #3488CB;
}


#top{
	color: #3488CB;
	margin-top: 30px;
	padding-top: 0px;
}

span{
	padding-right: 0px;
	margin-right: 0px;
}

.bar{
	background: #3488CB;
	color: #ffffff;

}

li{
	list-style-type: none;
}

.list-group{
	margin-top: 5px;
}

.badge{
	align-content: right !important;
}

.casuta{
	margin-left: 25px;
	background: #E0E0E0;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-radius: 10px;
}

.box{
	text-align: center;

}

.list-group-item{
	padding-left: 7px;
}

body{
	background-repeat: no-repeat;
}


.intrebari{
	margin-top: 10px;
	margin-left: 10px;
}

.intrebare{
	cursor: pointer;

}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.btn{
	background-color: #3488CB;
	border-radius: 10px;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 0px;
}

.btn2{
	background-color: #fff;
	color: black;
	border: none;
}


hr{
	margin-top: 0px;
}

.antet{
	color: #003366;
}

.butoane-popup{
	margin-left: 18%;
}

.modal-dialog{
	margin-top: 10%;
}

.modal-title{
	margin-bottom: 3px;
}

.panel{
	margin-right: 27%;
}

.icon-admin{
	width: 60px;
	height: 60px;
	margin-right: 15px;
}
