.list1{
	 padding-top:5px ; 
     padding-bottom:0 ;
     height: 10px;
	 position: left;
	 display: block;
	 padding: 10px 15px;
	 margin-bottom: -1px;
}

.color{
	color:#0099cc;
}

a:hover {
    color: #007399;
    background-color: transparent;
    text-decoration: none;
	font-weight: bold;
}

a{
    color: black;
    text-decoration: none;
}
.buton
{height:50px;
width:150px;}

.buton_text
{padding-top: 5px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;}

.bodyA{
	color: #333333;
    font-family: Century Gothic, sans-serif;
}

.sameLine{
	display:inline-block;
}

.align1{
	padding-left: 30px;
  padding-right: 30px;

}
.center1 {
padding: 70px 0;}

.carousel1{
  margin-bottom: 60px;
  margin-top: 50px;
  margin-right:40px;
  margin-left:0px;
}
 .font_pp{
	 color:#336699;
 }
 #bloc1, #bloc2
{
    display:inline;
}

.font_a{
	 color:#538cc6;
	 font-size: 22px;
	 font-weight: bold;
	 margin-top: 10px;
	 margin-bottom: 30px;
	 margin-left:80px;
	 margin-right:30px;
 }

 .font_b{
	 font-size: 14px;
 }

 .panel > .panel-heading {
    background-image: none;
    background-color: white;
    color: white;

}

.fond_left{
	color: black;
    font-family: Century Gothic, sans-serif;
	font-size: 15px;
	text-decoration: none;
}
.upper {
    text-transform: uppercase;
}

.font_t{
	 font-size: 14px;
 }
 
.font_h_margin{
	margin-top: 30px;
}

.font_h1_margin{
	margin-top: 35px;
}

.fond_links{
	color: #0052cc;
	font-style: italic;
}

